@use '../../sass/abstracts/mixins' as *;

@keyframes jump {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -40px;
  }
}

.homeSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 55vh;
    background: url('../../assets/UI/background/stringsBack.svg') no-repeat center center/cover;
    top: 20px;
    z-index: -1;
  }
  .homeSection-content-right {
    background: url('../../assets/images/logo/starBucksCup.svg') no-repeat center center/cover;
    width: 271px;
    height: 381px;
    margin: 0 auto;
    position: relative;
    text-align: right;
    animation: jump 2s infinite ease-in-out;

    button {
      position: relative;
      outline: none;
      background: none;
      border: none;
      color: white;
      .plus-button {
        position: absolute;
        left: 37%;
        top: 20px;
        font-size: 60px;
      }
    }
  }
  .homeSection-content-left {
    margin-bottom: 64px;
    .homeSection-heading {
      margin-bottom: 15px;
      h2 {
        margin-bottom: 10px;
        @include heading(48px);
        span {
          @include gradient-heading(48px);
        }
      }
      p {
        @extend %text-information;
      }
    }
    .homeSection-information {
      .homeSection-buttons {
        display: flex;
        margin-bottom: 20px;
        button {
          border-radius: 56px;
          flex: 2;
          padding: 13px;
          font-weight: 639;
          font-size: 16px;
          letter-spacing: -0.02em;
          color: #fff;
          &:first-child {
            background: linear-gradient(210deg, #237249 0%, #35c66b 100%);
          }
          &:last-child {
            background: none;
            flex: 1;
          }
        }
      }
    }
    .homeSection-information-data {
      display: flex;
      justify-content: space-around;
      .homeSection-achievement {
        p {
          font-size: 41px;
          line-height: 109%;
          letter-spacing: -0.03em;
          color: #fff;
          span {
            color: #237249;
            background: linear-gradient(244deg, #237249 0%, #35c66b 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
        .achivement-info {
          font-family: var(--font-family);
          font-size: 12px;
          line-height: 144%;
          letter-spacing: -0.02em;
          color: #d9d9d9;
        }
      }
    }
  }
  .homeSection-content-footer {
    .wehave-items {
      background: linear-gradient(230deg, #fff 3.94%, #e5e5e5 64.08%, #fbfbfb 88.62%);
      display: flex;
      border-radius: 27px;
      flex-direction: column;
      margin: 30px auto;
      padding: 20px;
      gap: 2rem;
      width: 25vh;
    }
  }
}
