@use '../../sass/abstracts/mixins';

.NewEvents {
  margin-bottom: 3rem;
  .NewEvents-top {
    margin-bottom: 2rem;
    p {
      @extend %text-information;
    }
  }
  .NewEvents-content {
    display: flex;

    .carousel-indicators {
      display: none !important;
    }
    .NewEvents-content-carousel {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .NewEvents-item {
        width: 100vw;
        justify-content: right;
        align-items: center;
      }
    }
    .carousel-control-prev-icon {
      display: none !important;
    }
    .carousel-control-next-icon {
      display: none !important;
    }
  }
}
