%heading {
  font-weight: 800;
  line-height: 109%;
  letter-spacing: -0.03em;
}

%gradient-heading {
  font-weight: 800;
  line-height: 109%;
  letter-spacing: -0.03em;
  background: linear-gradient(223deg, #237249 0%, #35c66b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

%text-information {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 163%;
  letter-spacing: -0.02em;
  color: #d9d9d9;
}

%green-button {
  border-radius: 39px;
  background: linear-gradient(210deg, #237249 0%, #35c66b 100%);
  font-weight: 639;
  font-size: 11px;
  line-height: 146%;
  letter-spacing: -0.02em;
  color: #fff;
}
