@use '../../sass/abstracts/mixins';

.footer {
  background-color: black;
  padding-bottom: 4rem;
  .footer-top {
    h4 {
      @extend %gradient-heading;
      font-size: 37px;
      margin-bottom: 1rem;
    }
    .section-points {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;
      ul {
        li {
          font-size: 15px;
          letter-spacing: -0.01em;
          color: rgba(187, 179, 179, 0.43);
          &:first-child {
            color: #bbb3b3;
          }
        }
      }
    }
  }
}
